


@section Scripts
{
<script src="~/lib/jquery-ui/jquery-ui.js"></script>
<link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />

}

<div id="menu">
    <p>How is it going dude?</p>
    <div>
        Date: <input type="text" id="datepicker">
    </div>
    <div>
        <a href="#">Tomas</a>
        <a href="#">Tomas</a>
        <a href="#">Tomas</a>
        <a href="#">Tomas</a>
    </div>
</div>

