@model UserProfileViewModel
@using Phoenix01.Data.Managers;


<div class="form-group">
    <label asp-for="ChosenLanguages" class="col-md-2 control-label"></label>
    <div id="ChosenLang" class="col-md-10">

        @foreach (Language lang in Model.ChosenLanguages)
            {
            <input asp-for="RemoveUserLanguage" data-toggle="tooltip" title="Click to remove" class="btn btn-info btn-md" type="button" value="@lang.Name" /><a> </a>
        }
    </div>
</div>

<div id="AddLang" class="form-group">
    <label asp-for="AddUserLanguage" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="AddUserLanguage" class="form-control" asp-items="Model.LanguagesDropDown"><option selected>--Select--</option></select>
    </div>
</div>

