@model UserProfileViewModel


<div class="form-group">
    <label asp-for="AddUserLanguage" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="AddUserLanguage" class="form-control" asp-items="Model.LanguagesDropDown"><option>--Select--</option></select>
    </div>
</div>

<div class="form-group">
    <label asp-for="RemoveUserLanguage" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="RemoveUserLanguage" class="form-control" asp-items="Model.LanguagesRemoveDropDown"><option>--Select--</option></select>
    </div>
</div>


