@model AjaxViewModel



@using (Html.BeginForm())
{
    @Html.DropDownListFor(s => s.SelectedWidget, Model.Widgets, "Select");

    <div id="editablePane">
        @Html.TextBoxFor(s => s.Width, new { @class = "myEditable", disabled = "disabled" })
        @Html.TextBoxFor(s => s.Height, new { @class = "myEditable", disabled = "disabled" })
    </div>
}

@section Scripts
{
    <script>
        $(function () {

            $("#SelectedWidget").change(function () {

                var t = $(this).val();

                if (t !== "") {
                    $.post("@Url.Action("GetDefault", "Manage")?val=" + t, "", function (res) {
                        //alert("Returned Json values: " + typeof(res));
                        if (res.Success === "true") {

                            //enable the text boxes and set the value

                            $("#Width").prop('disabled', false).val(res.Width);
                            $("#Height").prop('disabled', false).val(res.Height);

                        } else {
                            alert("Error getting data!");
                        }
                    });
                } else {
                    //Let's clear the values and disable :)
                    $("input.editableItems").val('').prop('disabled', true);
                }

            });
        });
    </script>
}
